.portfolio {
  padding-bottom: 94px;
}

.button-set {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 32px;
  padding-right: 103px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    padding-right: 0;
    justify-content: center;
  }
}

.button-set__item {
  & + & {
    margin-left: 8px;
  }
}

.button-set__button {
  margin-top: 15px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: $buttons-color;
  color: $primary-text-color;
  cursor: pointer;
  min-width: 73px;
  padding: 6px 12px;

  border: 1px solid transparent;
  border-radius: 4px;

  transition: box-shadow 250ms $timing-function,
    background-color 250ms $timing-function, color 250ms $timing-function;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.button-set__button:hover,
.button-set__button:focus {
  background-color: $accent-color;
  color: $extra-title-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__title {
  @extend %visually-hidden;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}

.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $extra-text-color;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  margin-top: -30px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;

    padding: 0;
    margin: 0;
    list-style: none;

    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
  }
}
.project {
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 60px);
  }
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project__thumb {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $buttons-color;
  border-left: 1px solid $buttons-color;
  border-right: 1px solid $buttons-color;
}
