.team {
  background-color: $extra-title-color;
  max-width: 480px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    background-color: $buttons-color;
    max-width: 1600px;
    padding-bottom: 94px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  // padding-top: 60px;
  //

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 0;
  }
}

.team__card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  & + & {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;

    flex-basis: calc(100% / 2 - 30px);

    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-top: 0;

    flex-basis: calc(100% / 4 - 30px);

    & + & {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}

.team__thumb {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $extra-title-color;
  border-bottom: 1px solid $buttons-color;
  border-left: 1px solid $buttons-color;
  border-right: 1px solid $buttons-color;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.team__post {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $extra-text-color;
}
