header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  .container {
    // @include centeredFlex(space-between);
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 3px solid $buttons-color;
  }
}
