.menu-toggle {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  line-height: 0;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: inline-flex;
  }
}

.menu-toggle-close {
  display: block;
  border: 1px solid #000000;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  &:hover {
    border: none;
  }
}

.icon-close,
.icon-menu {
  fill: $primary-text-color;
}

.menu-toggle:hover .icon-menu,
.menu-toggle:hover .icon-close {
  fill: $accent-color;
}
