.card-set {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
}

.features__title {
  @extend %visually-hidden;
}

.card-set__item {
  & + & {
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 0;

    flex-basis: calc(100% / 2 - 30px);

    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    .card-set__item + .card-set__item {
      margin-left: 30px;
    }
  }
}

.card-set__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-text-color;
}
.card-set__text {
  @extend %text;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $extra-text-color;
}

.card-set__thumb {
  display: flex;
  padding: 0;
  height: 120px;
  background-color: $buttons-color;
  margin-bottom: 30px;
}

.card-set__icon {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}
