$primary-text-color: #212121;
$extra-text-color: #757575;
$title-text-color: #000000;
$accent-color: #2196f3;
$extra-background-color: #2f303a;
$extra-title-color: #ffffff;
$buttons-color: #f5f4fa;
$icon-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
