.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $extra-background-color;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .logo {
    color: $extra-title-color;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}
.footer__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $extra-title-color;
  margin-bottom: 9px;

  font-style: inherit;
  text-align: center;
}

.footer__link {
  @extend %link;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms $timing-function;
}

.footer__contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.footer__address {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.footer__networks {
  padding: 0;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    // margin-left: 165px;
    // margin-top: 5px;
    margin-bottom: 102px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }

  .networks {
    height: 44px;
    @media screen and (min-width: 1200px) {
      margin-top: 20px;
    }
  }
}

.networks__link--footer {
  background-color: rgba(0, 0, 0, 0.1);
}

.networks__icon--footer {
  fill: $extra-title-color;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $extra-title-color;
  padding-bottom: 20px;

  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    padding-top: 12px;
  }
}
